################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/strategy-pattern/bin/Debug/net7.0
/strategy-pattern/obj/Debug
